<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h3>Customer Information</h3>
    <form method="post">
        {% csrf_token %}
    Customer Name: <input type="text" name="customer_name" /><br /><br />
    Customer E-mail: <input type="text" name="customer_email" /><br /><br />
    Customer City: <input type="text" name="customer_city" /><br /><br />
    <button type="submit">Save</button>
    </form>

    <h3>My Customers</h3>
    {% for customer in customers %}
    {{customer.customer_id}} <br >
    {{customer.customer_name}}<br >
    {{customer.customer_email}}<br >
    {{customer.customer_city}}<br ><br >
    {% endfor %}
</body>
</html>